
body{
  margin:0;
  padding:0;
  font-family:'Poppins',sans-serif;

  background: linear-gradient(
    135deg,
    #00e676 0%,
    #26936d 40%,
    #2e7d57 100%
  );

  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}


/* ================= CONTAINER ================= */

.container{
  width:420px;
  padding:40px;
  border-radius:20px;

  /* Glass effect */
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(15px);

  box-shadow:0 20px 40px rgba(0,0,0,0.15);
  color:white;
}


/* ================= HEADING ================= */

.container h2{
  margin-bottom:25px;
  font-weight:700;
}


/* ================= INPUTS ================= */

.container input,
.container select{
  width:100%;
  padding:14px;
  margin:10px 0;

  border:none;
  border-radius:12px;

  background: rgba(255,255,255,0.85);
  font-size:15px;
}


/* ================= BUTTON ================= */

.container button{
  margin-top:15px;
  padding:12px 22px;

  border:none;
  border-radius:12px;

  background:#00bcd4;
  color:black;
  font-weight:600;
  cursor:pointer;

  transition:0.3s;
}

.container button:hover{
  background:#0097a7;
}


/* ================= LINKS ================= */

.container p{
  margin-top:20px;
}

.container a{
  color:#e0f7fa;
  font-weight:600;
  text-decoration:none;
}
